.App {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.outerCircle {
    border: 10px solid #42a6ee;
    border-right-color: #9ed1f5;
    width: 80px;
    height: 80px;
    /* background-color: #279cef; */
    border-radius: 100%;
    display: flex;
    animation: spin 0.5s 0s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}