.form {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-size: 16px;
}

.form label,
.inlineInputs {
    margin-top: 15px;
}

.inlineInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input,
select {
    font-size: 15px;
    padding: 5px 3px;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button {
    font-size: 18px;
    padding: 3px 15px;
    border: none;
    background-color: #2c7aef;
    color: white;
    border-radius: 5px;
}


.button:hover {
    background-color: #0f56c2;
}

.button:disabled {
    background-color: #5e84be;
}